.faves-page {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #57886c;
}

.favorites-container {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}


.no-img-text{
  text-align: center;
  font-family: 'Salsa', cursive;
  font-size: 1.8em;
  color: #f4f3ee;
  letter-spacing: .11em;
  font-style: italic;
  font-weight: bolder;
  align-items: center;
  margin-right: 6.2em;
}

.remove-fave {
  cursor: pointer;
}

