.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  background-color: #6c0f16;
}

.heading-text {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 3.8em;
  color: #57886c;
  letter-spacing: .11em;
}