.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #6c0f16;
  box-sizing: border-box;
  box-shadow: .5em .5em .5em .15em black;
}

.heading-text-container {
  display: flex;
  width: 100vw;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.heading-text {
  font-family: 'Salsa', cursive;
  font-size: 3.8em;
  color: #f4f3ee;
  letter-spacing: .11em;
  font-style: italic;
  font-weight: bolder;
  align-items: center;
}

.header .back-link{
  color: #f4f3ee;
  margin-left: 1vw;
  margin-top: 3vh;
}

.header .favorite-link{
  color: #f4f3ee;
  margin-right: 1vw;
}

.favorites-link-container, .back-btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 10vw;
  height: 20vh;
}

.back-text, .favorite-link {
  font-size: 2.2em;
  align-self: center;
  border: none;
  margin-top: 0em;
  font-family: Salsa;
  font-weight: bolder;
  cursor: pointer;
  text-decoration: none;
}


@media only screen and (max-width: 1440px) {
  .heading-text{
    font-size: 3.8em;
  }
  .heading-text-container {
    align-items: center;
    width: 82vw;
  }
  .favorites-link-container {
    margin-left: -1.3vw;
  }
  .favorite-link {
    font-size: 2.2em;
  }
}


@media only screen and (max-width: 1024px) {
  .heading-text{
    font-size: 3.8em;
  }
  .heading-text-container {
    align-items: center;
    width: 82vw;
  }
  .favorites-link-container {
    margin-left: -1.3vw;
  }
  .favorite-link {
    font-size: 2.2em;
  }
}


@media only screen and (max-width: 768px) {
  .heading-text{
    font-size: 3.8em;
  }
  .heading-text-container {
    align-items: center;
    width: 85vw;
  }
  .favorites-link-container {
    margin-left: -0.3vw;
    margin-top: 1.4vh;
  }
  .favorite-link {
    font-size: 1.4em;
  }
}

@media only screen and (max-width: 425px) {
  .heading-text{
    font-size: 2.8em;
  }
  .heading-text-container {
    align-items: center;
    width: 85vw;
  }
  .favorites-link-container {
    margin-left: -0.3vw;
    margin-top: 1.4vh;
  }
  .favorite-link {
    font-size: 1.2em;
  }
}


@media only screen and (max-width: 425px) {
  .heading-text{
    font-size: 2.4em;
  }
  .heading-text-container {
    align-items: center;
    width: 85vw;
  }
  .favorites-link-container {
    margin-left: -0.3vw;
    margin-top: 1.4vh;
  }
  .favorite-link {
    font-size: 1.0em;
  }
}


@media only screen and (max-width: 425px) {
  .heading-text{
    font-size: 2.4em;
  }
  .heading-text-container {
    align-items: center;
    width: 85vw;
  }
  .favorites-link-container {
    margin-left: -0.3vw;
    margin-top: 1.4vh;
  }
  .favorite-link {
    font-size: 0.9em;
  }
}