.main-page {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #57886c;
}

.img-work {
  width: 20vw;
  height: 40vh;
  align-self: center;
  box-shadow: .5em .5em .5em .15em black;
}

.img-work:hover {
  cursor: pointer;
  opacity: .1;
}

