.btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 8vw;
  height: 10vh;
}

.back-text {
  font-size: 5.2em;
  align-self: center;
  border: none;
  color: #6c0f16;
}

.back-link {
  text-decoration: none;
}

@media only screen and (max-width: 1024px) {
  .back-text {
    font-size: 4.2em;
    margin: 2.8vh 1.4vw;
  }
}


@media only screen and (max-width: 768px) {
  .back-text {
    font-size: 4.2em;
    margin-left: 1.4vw;
  }
}

@media only screen and (max-width: 425px) {
  .back-text {
    font-size: 2.2em;
    margin-left: 1.4vw;
  }
}


@media only screen and (max-width: 375px) {
  .back-text {
    font-size: 1.8em;
    margin-left: 1.4vw;
  }
}

@media only screen and (max-width: 320px) {
  .back-text {
    font-size: 1.8em;
  }
}
