.error-container{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  background-color: #f4f3ee;
}

.error-message-container {
  width: 40vw;
  text-align: center;
  justify-content: center;
}

.error {
  color: #6c0f16;
  align-self: center;
  font-size: 4em;
}

.error-btn-container {
  width: 30vw;
  height: 10vh;
  margin-top: 3.8em;
  justify-self: flex-start;
}

@media only screen and (max-width: 1024px) {
  .error-btn-container {
    margin-top: 0em;
  }
  .error-message-container{
    align-items: center;
    flex-direction: row;
  }
  .error {
    font-size: 2em;
  }
}

@media only screen and (max-width: 768px) {
  .error-btn-container {
    margin-top: 0em;
  }
  .error-message-container{
    align-items: center;
    flex-direction: row;
  }
  .error {
    font-size: 2em;
  }
}


@media only screen and (max-width: 425px) {
  .error-btn-container {
    margin-top: 0em;
  }
  .error-message-container{
    align-items: center;
    flex-direction: row;
  }
  .error {
    font-size: 2em;
  }
}

@media only screen and (max-width: 375px) {
  .error-btn-container {
    margin-top: 0em;
  }
  .error-message-container{
    align-items: center;
    flex-direction: row;
  }
  .error {
    font-size: 2em;
  }
}

@media only screen and (max-width: 375px) {
  .error-btn-container {
    margin-top: 0em;
  }
  .error-message-container{
    align-items: center;
    flex-direction: row;
  }
  .error {
    font-size: 2em;
  }
}

@media only screen and (max-width: 320px) {
  .error-btn-container {
    margin-top: 0em;
  }
  .error-message-container{
    align-items: center;
    flex-direction: row;
  }
  .error {
    font-size: 2em;
  }
}